body {
    min-width: 100vw;
    min-height: 100vh;
/*    overflow: hidden;*/
}

.coverImage {
    height: 20vh;
}

#coverImage {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#blur {
    width: 68.5%;
    height: 80%;
    margin: 0 8vh;
    
    position: absolute;
    z-index: -1;
    
    background-color: black;
    filter: blur(500px);
    filter: contrast(100%);
}

.navbar {
    z-index: 10;
    position: absolute;
    
    color: white !important;
    /*background-image: linear-gradient(20deg, #005500 55%, #000080) !important;*/
    filter: opacity(80%);
    background-color: transparent !important;
}

.navbar-collapse {
    width: 100%;
}

.navbar-collapse > * {
    position: absolute;
    right: 1%;
}

.navbar-toggler-icon{
    filter: invert(100%);
}

.nav-link {
    color: #000080 !important;
    font-weight: 450;
}

/*
.mainWrapper {
    height: 95vh;
    margin: 0% 10% !important;
    padding: 2%;
    
    overflow: auto;
    
    background-color: #fcfcfc;
    border-radius: 0.2em;
    -moz-box-shadow: 0.1em 0.4em 0.3em #666;
    -webkit-box-shadow: 0.1em 0.4em 0.3em #666;
    box-shadow: 0.1em 0.4em 0.3em #666;
}
*/

.mainWrapper {
    position: absolute;
    top: 100vh;
    
    margin: 5%;
}

#coversize {
    top: 20vh;
}

.mainWrapper div{
    margin: 4% 0;
}

#fadeContent {
    height: 5%;
    width: 80%;;
    margin: 0;
    
    z-index: 2;
    position: fixed;
    top: 9%;
    left: 10%;
    
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0));
    border-radius: 0.2em;
}

.first div {
    margin-bottom: 2vh;
}

.img {
    width: 100%;
    height: 18vh;
    
    overflow: hidden;
}

.img img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.first h3 {
    margin: 1vh 0;
    padding: 0.5vh 0;
    border-bottom: 1px solid white;
}

div img {
    width: 100%;
}

.navbar-brand {
    width: 80%;
}

#mainLogo img {
    width: 20%;
    
    position: relative;
}

#mainTitle {
    margin-top: 5vh;
    padding: 10%;
}

#mainTitle h2, #mainTitle p {
    color: white;
}

.mainWrapper .first div {
    width: 45%;
    margin: 0 5% 5vh 0;

    position: relative;
    float: left;
}

.end {
    margin: 2% 0;
    border-top: 1px solid #008000;
    padding: 1vh 0;
}