.mainWrapper .grid1 {
    display: inline-grid;
    grid-template-columns: 40% 55%;
    grid-gap: 1vw 5%;
}

.mainWrapper .main div{
/*    min-height: 20em;*/
    display: inline-table;
}

.mainWrapper .stair .img {
    width: 40%;
}

.mainWrapper .stair img {
    min-width: 80%;
}
